/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
padding-top: 50px;
}

/*
* Typography
*/

h1 {
margin-bottom: 20px;
padding-bottom: 9px;
border-bottom: 1px solid #eee;
}

/*
* Sidebar
*/

.sidebar {
position: fixed;
top: 51px;
bottom: 0;
left: 0;
z-index: 1000;
padding: 20px;
overflow-x: hidden;
overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
padding-left: 0;
padding-right: 0;
}

.sidebar .nav {
margin-bottom: 20px;
}

.sidebar .nav-item {
width: 100%;
}

.sidebar .nav-item + .nav-item {
margin-left: 0;
}

.sidebar .nav-link {
border-radius: 0;
}

.sidebar h2 {
  padding-left: 5px;
}

/*
* Dashboard
*/

/* Placeholders */
.placeholders {
padding-bottom: 3rem;
}

.placeholder img {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

.ace_editor {
    min-height: 150px;
}

.snippet-title {
  border: none;
  padding-left: 0;
  font-size: 1.8em;
  border: 0;
  padding: 2px;
  background: #fff;
  font: 30px sans-serif;
}

.tmp-element {
  visibility: hidden;
  white-space: pre;
  font: 45px sans-serif;
}

.form-control:disabled, .form-control[readonly] {
    background-color: inherit;
}

label {
  text-transform: capitalize;
}

.form-control:disabled {
    cursor: context-menu;
}

.description {
	padding: 0px;
  border: none;
	vertical-align: top;
}
